@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Genos:ital,wght@1,600&family=Great+Vibes&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 1% 1% 1% 15%;
    width: 100%;
    border-top: #e76c07 solid 3px;
    border-bottom: #e76c07 solid 3px;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    color: #e08234;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    gap: 5%;
}

.foto_do_paulinho {
    width: 30%;
    padding-left: 5%;
    align-self: self-start;
}

.descricao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 40px;
    padding-bottom: 5%;
    padding-right: 5%;
    align-items: center;
}

.descricao__titulo {
    color: #ffffff;
    font-family: 'Great Vibes', cursive;
    font-size: 3.75rem;
    text-align: center;
}

.descricao__apresentacao {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 550;
    text-align: left;
    font-family: 'Amatic SC', cursive;
}

.descricao__links {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

#icon-instagram {
    width: 5vh;
}

.descricao__links__titulo {
    width: fit-content;
    padding-bottom: 20px
}

.descricao__links__link {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #e76c07;
    font-size: 1.25rem;
    border: #e76c07 solid 3px;
    border-radius: 10px;
    padding: 5px;
}

.descricao__links__link:hover {
    border: #e08234 solid 4px;
}

.rodape {
    color: #000000;
    background-color: #e08234;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.12rem;
    font-family: 'Genos', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5%;
}

@media (max-width: 1200px) {
    main {
        flex-direction: column;
    }

    .foto_do_paulinho {
        width: 60%;
        align-self: auto;
        padding-left: 0%;
        padding-bottom: 5%;
    }

    .descricao {
        width: 80%;
        padding-right: 0%;
    }

    .descricao__titulo {
        font-size: 2.5rem;
    }

    .descricao__apresentacao {
        text-align: left;
        font-size: 1.7rem;
    }

    .cabecalho {
        align-items: center;
        justify-content: center;
        padding: 1%;
    }
}